img {
    height: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    background:#d9e4fc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}